<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Publish at:</strong>
    <%= book.publish_at %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author.name %>
  </p>

</div>
